NET clk				LOC = Y9   | IOSTANDARD=LVCMOS33 | PERIOD = 10 ns;  # "GCLK"
NET filter_onoff	LOC = F22  | IOSTANDARD=LVCMOS18;

NET AC_ADR0       LOC = AB1  | IOSTANDARD=LVCMOS33;
NET AC_ADR1       LOC = Y5   | IOSTANDARD=LVCMOS33;
NET AC_GPIO0      LOC = Y8   | IOSTANDARD=LVCMOS33;
NET AC_GPIO1      LOC = AA7  | IOSTANDARD=LVCMOS33;
NET AC_GPIO2      LOC = AA6  | IOSTANDARD=LVCMOS33;
NET AC_GPIO3      LOC = Y6   | IOSTANDARD=LVCMOS33;
NET AC_SCK        LOC = AB4  | IOSTANDARD=LVCMOS33;
NET AC_SDA        LOC = AB5  | IOSTANDARD=LVCMOS33; 
NET AC_MCLK       LOC = AB2  | IOSTANDARD=LVCMOS33; 
